<!-- 
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<ion-content>
  <div class="main_content_div">
    <div class="iconDiv">
      <img src="assets/imgs/icon.png" alt="" class="icon" />
    </div>
    <div class="form_div">
      <ion-input
        type="number"
        [placeholder]="util.getString('Mobile')"
        [(ngModel)]="mobile"
      >
        <ion-icon name="call" slot="icon-only"></ion-icon>
      </ion-input>
      <ion-button expand="block" (click)="login()">
        <span> {{util.getString('Verify Otp')}} </span>
        <ion-spinner name="circular" *ngIf="loggedIn"></ion-spinner>
      </ion-button>

      <ion-label class="lbl" (click)="create()">
        {{util.getString("Don't have an account ?")}}
        <span class="signup_span"> {{util.getString('Verify Otp')}} </span>
      </ion-label>
    </div>
  </div>
</ion-content>
